.textarea-block {
  position: relative;
}

/* Todo input block que não é o primeiro */
.textarea-block + .textarea-block {
  margin-top: 1.4rem;
}

.textarea-block label {
  font-size: 1.4rem;
}

.textarea-block textarea {
  width: 100%;
  height: 14rem;
  min-height: 14rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  resize: vertical;
  padding: 1.2rem 1.6rem;
  font: 1.6rem Archivo;
}

/* Se colocar o :focus no input, ele vai estilizar o input */
/* :focus-within estiliza o parent, na condição de um child ter focus */
/* ::after ==> Eu vou inserir um elemento no .textarea-block quando o input dentro dele tiver focus */
.textarea-block:focus-within::after {
	width: calc(100% - 3.2rem);
	height: 1px;
	content: '';
	background: var(--color-primary-light);
	position: absolute;
	left: 1.6rem;
	right: 1.6rem;
	bottom: 9px;
}